@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
a {
  text-decoration: none;
}

.header {
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(235, 238, 241);
  border-bottom: 1px solid rgb(212, 212, 212);
}
.header__brand {
  font-size: 2.2rem;
  letter-spacing: 0.3rem;
  color: #f6f6f6;
  cursor: pointer;
  text-decoration: none;
}
.account__icon,
.heart__icon {
  margin: 0 0.5rem;
  cursor: pointer;color: #f6f6f6;
}

.header__button {
  margin: 0 0.5rem !important;
}

Link {
  color: rgb(241, 237, 237);

}



.dropdown-content {
        position: absolute;
        display: none;
        right: 0;
        min-width: 25rem;
        padding: 1rem;
        z-index: 1;
        background-color: #2a2a2a;;color: #f6f6f6;
        margin: 0;
        margin-top: 0.4rem;
        border-radius: 0.5rem;
        font-size: large
      }
      .dropdown:hover .dropdown-content {
        display: block;
}



