.list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: #287094;
        border-color: #287094;
}


.bg-primary {
        background-color: #287094!important;
        font-size: 20px !important;
        max-width: 1000px !important;
}


.msgofother {
        font-size: 20px !important;
        max-width: 1000px !important;
        background-color: aliceblue !important;

}